ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}

.title {
    margin-top: 0;
    color: #434343;
}

ion-toolbar {
    --min-height: 50px;
    color: #2C9DDE;
}
