ion-slide {
    padding: 140px 20px 140px 20px;
    display: block;
    img {
    width: 100px;
    }
    h2 {
    font-size: 27px;
    font-weight: bold;
    }
    }
    

    .displayed img{
        width: 300px;
        height: auto;
    }

    
  
