<ion-header>
  <ion-toolbar color="light">
    <ion-title>History</ion-title>
    <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary">
      <ion-grid>
        <ion-row>
          <ion-col>Check In:</ion-col>
          <ion-col>Check Out:</ion-col>
          <ion-col>Location:</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row *ngFor="let a of displayUserData2" >
          <ion-col>{{a.checkin | date:'EEEE, h:mm a'}}</ion-col>
          <ion-col>
            {{a.checkout | date:'h:mm a'}}
          </ion-col>
          <ion-col >{{a.location}}</ion-col>
        </ion-row>
        <!-- <ion-row *ngFor="let a of displayUserData2" ><ion-col>{{a.location}}</ion-col><ion-col >{{a.location}}</ion-col> -->
        <!-- </ion-row> -->
      </ion-grid>
    </ion-item>
  </ion-list>
  
</ion-content>
