<!-- <ion-content class="ion-padding ion-text-center">

  <div class="logo">
  <img src="assets/images/hr.png"/>
    <h1>DynaConsurv HR App</h1>
  </div>

  <div class="form">
    <ion-item lines='none'>
      <ion-input [(ngModel)]="postData.username" placeholder='username'></ion-input>
    </ion-item>


    <ion-item lines='none'>
      <ion-input [(ngModel)]="postData.password" placeholder='password' type='password'></ion-input>
    </ion-item>

    <ion-button expand="block" color="dark" (click)="loginAction()">Login</ion-button>
  </div>

<form>-->
<!--  <ion-list>-->
<!--  <ion-item>-->
<!--  <ion-label position="stacked" padding='true'>Username</ion-label>-->
<!--  <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>-->
<!--  </ion-item>-->

<!--  <ion-item>-->
<!--  <ion-label position="stacked" padding='true'>Password</ion-label>-->
<!--  <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>-->
<!--  </ion-item>-->
<!--  </ion-list>-->

<!--  </form>-->
<!-- </ion-content> -->

<ion-header>
  <ion-toolbar color="light">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="overflow: scroll;" class="ion-padding ion-text-center">

  <div class="logo">
    <img src="assets/images/hr.png"/>
      <h1>DynaConsurv HR App</h1>
    </div>

  <div class="ion-padding container">

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input name="username" type="text" [(ngModel)]="postData.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input [(ngModel)]="postData.password" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
      </ion-item>
      <ion-item class="company">
        <ion-label>company:</ion-label>
        <ion-select class= "myCustomSelect" [(ngModel)]="company" interface="action-sheet">
          <ion-select-option value="dyna">Dyna Segmen</ion-select-option>
          <ion-select-option value="consurv">Consurv Technic</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="secondary" expand="block" class="main-button" (click)="loginAction()">Log in</ion-button>
    </div>
     <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-text class="ion-no-margin">Register a new user?</ion-text>
        </ion-col>
        <ion-col col-6>
          <ion-text class="ion-no-margin" style="font-size: small;" expand="block" color="secondary">Create New Account</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-text (click)="showToast2()" expand="block" color="secondary">Forgot Password?</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-button (click)="navigateToHRadmin()">HR Admin</ion-button>
    <ion-button (click)="navigateToManager()">Manager</ion-button> -->
  </div>
</ion-content>